.sidepanel {
  background-color: rgb(7, 64, 151);
  width: 20vw;
  height: 81vh;
}

.sideItem {
  width: 14vw;
  height: 10vh;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  border-color: solid 5px black;
  background-color: #7474fc;
  color: rgb(252, 252, 252);
  transition: background-color 0.3s ease;
  align-self: center;
}
