.sidepanel {
  background-color: blue;
  width: 20vw;
  height: 81vh;
}

.sideItem {
  width: 14vw;
  height: 10vh;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  align-self: center;
}
