.sidepanel {
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  grid-template-areas:
    "algebra"
    "matan"
    "discra"
    "c"
    "csharp cplusplus";
}

.algebra {
  grid-area: "algebra";
}
.matan {
  grid-area: "matan";
}
.discra {
  grid-area: "discra";
}
.c {
  grid-area: "c";
}
.csharp {
  grid-area: "csharp";
}
.cplusplus {
  grid-area: "cplusplus";
}

.block {
  text-align: center;
  align-content: center;
  width: 250px;
  height: 70px;
}

.sidepanel__title {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
