.materialsPage {
  display: flex;
  flex-direction: row;
}
.materialsButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 15vw;
  align-self: center;
}
