/* .materialsPage {
  display: flex;
  flex-direction: row;
}
.materialsButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 15vw;
  align-self: center;
} */

#HWTable {
  width: 100%;
  border-collapse: collapse;
}

#HWTable td,
#HWTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#HWTable tr:hover {
  background-color: #ddd;
}

#HWTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

/* .tableArea {
  background-color: brown;
} */

.HWTitle {
  display: flex;
  justify-content: center;
  /* background-color: darkblue; */
}

.materialsTitle {
  justify-content: center;
  background-color: darkblue;
  align-items: center;
}
