#HWTable {
  width: 100%;
  border-collapse: collapse;
}

#HWTable td,
#HWTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#HWTable tr:hover {
  background-color: #ddd;
}

#HWTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.tableArea {
  background-color: brown;
}

.HWTitle {
  display: flex;
  justify-content: center;
  background-color: darkblue;
}
