/* mainPage.css */
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 81vh;
}

.pagehome {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.subject-button,
.add-subject-button {
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.subject-button:hover,
.add-subject-button:hover {
  background-color: #0056b3;
}
