.footer {
  display: flex;
  background-color: #bab8b8;
  gap: 100px;
  height: 70px;

  justify-content: center;
  align-items: center;
}

.footer2{
  display: flex;
  background-color: #bab8b8;
  height: 40px;

  justify-content: center;
  align-items: center;
}
