/* App.css */
.main-content {
    margin-left: 250px; /* Убедитесь, что основной контент смещен на ширину боковой панели */
    padding: 16px;
    z-index: 1; /* Убедитесь, что значение z-index ниже, чем у боковой панели */
  }
  